*{
	margin: 0;
	padding: 0;
	font-family: cursive;
	box-sizing: border-box;
	outline: none;
}
body{
	background: #596275; 
}
.form1{
	position: absolute;
	top:50%;
	left: 50%;
	
	max-width: 350px;
	width: 100%;
	transform:translate(-50%,-50%);
	background: #fff;
	border-radius: 5px;
	padding: 25px;
	border-radius: 5px;
	box-shadow: 4px 4px 2px #596275;
}
.form1 h2{
	
	text-transform: uppercase;
	text-align: center;
	letter-spacing: #332902;
	margin-bottom: 20px;
}
.form1 .input_field{
	margin-bottom: 10px;
}
.form1 .input_field input[type="text"],
.form1 textarea{
	width: 100%;
	border:1px solid #e0e0e0;
	padding: 10px;

}
.form1 textarea{
	height:80px;
	resize: none;
}
.form1 .btn input[type="submit"]{
	border:0;
	background:#596275;
	margin-top: 15px;
	padding: 10px;
	width: 100%;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 5px;
	border-radius: 25px;
}
.form1 #error_message{
	padding:0px;
	margin-bottom: 20px;
	font-size: 14px;
	transition: all 0.5s ease;
	background: #fe8b8e;
	text-align: center;

}

