*{	
	margin:80;
	padding:10;
	font-family: Century Gothic;
}

.logo img{
	float:left;
	width:150px;
	height: auto;
}

header{
	
	height:32vh;
	background-size: cover;
	background-position: center;
	color:white;

}
ul{

	float:right; 
	list-style-type: none;
	padding:0px; 
	margin: 0px;
	
}
ul li{
	float:left;
	display:inline-block;
	background-color: black;
	width: 135px;
	height:50px;
	opacity:0.8;
	line-height: 50px;
	text-align: center;
	font-family: Impact;
	font-size: 20px;

	
}
ul li a{
	text-decoration: none;
	color:#fff;
	display: block;

}
ul li a:hover{
	background-color:#5499C7 ;
	transform: scale(1.1);

}
ul li.active {
	background-color:#487eb0;
	}
ul li ul li {
	display:none;
	padding-top: 0px;

}
ul li:hover ul li{
	display:block;
}







body{
	background-color: #d2dae2;
	color: white;
}

h2{
	font-size: 30px;
}
.p1,.p2,.p3,.p4,.p5,.p6{
	padding-top:20px;
	margin: auto;
	font-family: Corbel, Calbri, sans-serif;     
    font-size: 20px;
    color: black;
    border: 1px solid black;
    border-radius: 25px;
    padding: 25px;
    background: rgba(255,255,255,0.8);
	height:250px;
	width:80%;
}
.storeWelcoming{
	font-family: Corbel, Calbri, sans-serif;
	font-size:30px;
	margin:auto;
	background-color:rgba(0,0,0,0.5);
	color:white;
	top:50%;
	left:25%;
	position:initial;
	padding:20px;
	border-radius:20px;
}
.placeOrder{
	width:80%;
	margin:auto;
	height:60px;
}
.item_description{
	float:right;
	padding-top:50px;
}
.item_pic{
	float:left;
}
.placeOrderButtonLayout{
	float:right;
}

input[type=submit]{
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 14px 40px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

input[type=reset]{
  background-color: red;
  border: none;
  color: white;
  padding: 14px 40px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

#details{
    width:30%;
	margin:auto;
	font-family: Corbel, Calbri, sans-serif;      
    font-size: 20px;
    color: white;
    border: none;
    border-radius: 25px;
    padding: 25px;
    background: #030303;
    background-size:1530px 800px;
}

#fline{
	text-align: right;

}
.social img{
	width: 30px;
	  margin: 8px ;
	  margin-left:30px; 
}
.pageeditor h3{
	margin-left: 30PX;

}
.footer{
	background: grey;
}
.contactus{
	font-size: 30px;
	color: white;
	margin-left: 30px;
}
.right-side{
	margin-top:-245px; 
	margin-right: 20px;
	float: right;
	color: white;
}
.right-side p{
   font-size:20px; 
    
}


.newsletter{
	 display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    width:550px;
   
}
.newsletter input{
	height: 40px;
	width: 250px;
	border-radius: 32px;
	margin-right: 20px;
	
}
.btn1{
	height:47px;
	padding: 18px 40px;
	margin-right: 150px;
	border-radius:30px; 
	background: #33d9b2;
	font-size: 15px;
	font-weight: bold;

}

